version: '3.9'

services:
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: flask-backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - '5001:5000'
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: next-frontend
    restart: always
    ports:
      - '3000:3000'
    depends_on:
      - backend

volumes:
  postgres_data:
